.html
{
	background: #FFFFFF url("../images/fondogracias7.jpg") no-repeat right top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 679px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -124px;
	margin-bottom: -187px;
}

#pu7523
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u7523
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 37px;
	margin-right: -10000px;
}

#u11098
{
	z-index: 80;
	width: 298px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 120px;
}

#u7524
{
	z-index: 3;
	width: 1160px;
	margin-right: -10000px;
	margin-top: 90px;
}

#u7694-4
{
	z-index: 27;
	width: 413px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 627px;
}

#menuu11425
{
	z-index: 84;
	width: 509px;
	margin-right: -10000px;
	margin-top: 95px;
	left: 164px;
}

#u11433
{
	width: 60px;
	min-height: 24px;
	margin-right: -10000px;
}

#u11434
{
	width: 60px;
	padding-bottom: 2px;
}

#u11436
{
	height: 22px;
	width: 44px;
	margin-right: -10000px;
	top: 1px;
	left: 8px;
}

#u11451
{
	width: 147px;
	min-height: 24px;
	margin-right: -10000px;
	left: 62px;
}

#u11454
{
	width: 147px;
	padding-bottom: 2px;
}

#u11455
{
	height: 22px;
	width: 131px;
	margin-right: -10000px;
	top: 1px;
	left: 8px;
}

#u11465
{
	width: 132px;
	min-height: 24px;
	margin-right: -10000px;
	left: 211px;
}

#u11466
{
	width: 132px;
	padding-bottom: 2px;
}

#u11469
{
	height: 22px;
	width: 116px;
	margin-right: -10000px;
	top: 1px;
	left: 8px;
}

#u11458
{
	width: 73px;
	min-height: 24px;
	margin-right: -10000px;
	left: 345px;
}

#u11461
{
	width: 73px;
	padding-bottom: 2px;
}

#u11462
{
	height: 22px;
	width: 57px;
	margin-right: -10000px;
	top: 1px;
	left: 8px;
}

#u11426
{
	width: 89px;
	min-height: 24px;
	margin-right: -10000px;
	left: 420px;
}

#u11429
{
	width: 89px;
	padding-bottom: 2px;
}

#u11431
{
	height: 22px;
	width: 73px;
	margin-right: -10000px;
	top: 1px;
	left: 8px;
}

#u12157
{
	z-index: 115;
	width: 300px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 844px;
}

#u11634
{
	z-index: 116;
	width: 950px;
	border-style: none;
	border-color: transparent;
	background-color: #DFE3E5;
	background-color: rgba(186, 194, 199, 0.45);
	margin-left: 10px;
	margin-top: 50px;
	position: relative;
	-pie-background: rgba(186, 194, 199, 0.45);
}

#u11267
{
	z-index: 117;
	width: 679px;
	min-height: 655px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 92px;
}

#pu7246
{
	width: 0.01px;
	left: -100px;
	margin-top: 21px;
	position: relative;
}

#u7246
{
	z-index: 4;
	width: 1160px;
	margin-right: -10000px;
}

#u7246_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 61px;
	padding-bottom: 4px;
}

#pu7281
{
	width: 0.01px;
	left: 969px;
	position: relative;
}

#u7281
{
	z-index: 23;
	width: 11px;
	margin-right: -10000px;
}

#u7281_img
{
	padding-bottom: 1px;
}

#u7279
{
	z-index: 21;
	width: 25px;
	margin-right: -10000px;
	left: 15px;
}

#u7283
{
	z-index: 25;
	width: 26px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 46px;
}

#u7283_img
{
	padding-right: 1px;
}

#u11104
{
	z-index: 82;
	width: 117px;
	left: 922px;
	margin-top: 16px;
}

#u7253-5
{
	z-index: 7;
	width: 431px;
	min-height: 16px;
	left: 609px;
	margin-top: 13px;
}

#pu7278-9
{
	width: 0.01px;
	left: 121px;
	margin-top: 3px;
	position: relative;
}

#u7278-9
{
	z-index: 12;
	width: 402px;
	min-height: 21px;
	margin-right: -10000px;
}

#u7249
{
	z-index: 6;
	width: 146px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 403px;
}

#u7247
{
	z-index: 5;
	width: 1160px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u7523_align_to_page,#u7524_align_to_page,#u7247_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu10408
{
	z-index: 31;
	width: 783px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 120px;
}

#u10463
{
	width: 64px;
	min-height: 24px;
	margin-right: -10000px;
}

#u10466
{
	width: 64px;
	padding-bottom: 7px;
}

#u10469
{
	height: 17px;
	width: 35px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u10470
{
	width: 127px;
	min-height: 24px;
	margin-right: -10000px;
	left: 66px;
}

#u10471
{
	width: 127px;
	padding-bottom: 7px;
}

#u10474
{
	height: 17px;
	width: 98px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u10416
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
	left: 195px;
}

#u10419
{
	width: 119px;
	padding-bottom: 7px;
}

#u10420
{
	height: 17px;
	width: 91px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u10409
{
	width: 73px;
	min-height: 24px;
	margin-right: -10000px;
	left: 316px;
}

#u10412
{
	width: 73px;
	padding-bottom: 7px;
}

#u10415
{
	height: 17px;
	width: 45px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u10444
{
	width: 85px;
	min-height: 24px;
	margin-right: -10000px;
	left: 391px;
}

#u10447
{
	width: 85px;
	padding-bottom: 7px;
}

#u10448
{
	height: 17px;
	width: 57px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u10430
{
	width: 132px;
	min-height: 24px;
	margin-right: -10000px;
	left: 478px;
}

#u10433
{
	width: 132px;
	padding-bottom: 7px;
}

#u10435
{
	height: 17px;
	width: 104px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u10437
{
	width: 111px;
	min-height: 24px;
	margin-right: -10000px;
	left: 612px;
}

#u10440
{
	width: 111px;
	padding-bottom: 7px;
}

#u10442
{
	height: 17px;
	width: 83px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u10423
{
	width: 58px;
	min-height: 24px;
	margin-right: -10000px;
	left: 725px;
}

#u10426
{
	width: 58px;
	padding-bottom: 7px;
}

#u11461.MuseMenuActive,#u11429.MuseMenuActive,#u10466.MuseMenuActive,#u10447.MuseMenuActive,#u10433.MuseMenuActive,#u10440.MuseMenuActive,#u10426.MuseMenuActive
{
	margin: 0px;
}

#u10427
{
	height: 17px;
	width: 30px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

body
{
	padding-top: 124px;
	padding-bottom: 187px;
}

#page .verticalspacer
{
	clear: both;
}

